WebService/NETFramework/ServiceConsumer/Connected Services/WebServiceReference/WebServiceDemo1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://some-domain.com/WebServiceDemo" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://some-domain.com/WebServiceDemo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">A Demo WebService Example</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://some-domain.com/WebServiceDemo">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumOfNums">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="First" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Second" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumOfNumsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumOfNumsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSumThroughObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JsonStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSumThroughObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSumThroughObjectResult" type="tns:SumClass" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SumClass">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="First" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Second" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Sum" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SumOfNumsSoapIn">
    <wsdl:part name="parameters" element="tns:SumOfNums" />
  </wsdl:message>
  <wsdl:message name="SumOfNumsSoapOut">
    <wsdl:part name="parameters" element="tns:SumOfNumsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSumThroughObjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetSumThroughObject" />
  </wsdl:message>
  <wsdl:message name="GetSumThroughObjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetSumThroughObjectResponse" />
  </wsdl:message>
  <wsdl:portType name="WebSvcDemoSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SumOfNums">
      <wsdl:input message="tns:SumOfNumsSoapIn" />
      <wsdl:output message="tns:SumOfNumsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SumOfNums">
      <wsdl:input name="GetSumThroughObject" message="tns:GetSumThroughObjectSoapIn" />
      <wsdl:output name="GetSumThroughObject" message="tns:GetSumThroughObjectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebSvcDemoSoap" type="tns:WebSvcDemoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://some-domain.com/WebServiceDemo/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfNums">
      <soap:operation soapAction="http://some-domain.com/WebServiceDemo/SumOfNums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfNums">
      <soap:operation soapAction="http://some-domain.com/WebServiceDemo/GetSumThroughObject" style="document" />
      <wsdl:input name="GetSumThroughObject">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetSumThroughObject">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebSvcDemoSoap12" type="tns:WebSvcDemoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://some-domain.com/WebServiceDemo/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfNums">
      <soap12:operation soapAction="http://some-domain.com/WebServiceDemo/SumOfNums" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfNums">
      <soap12:operation soapAction="http://some-domain.com/WebServiceDemo/GetSumThroughObject" style="document" />
      <wsdl:input name="GetSumThroughObject">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetSumThroughObject">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebSvcDemo">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">A Demo WebService Example</wsdl:documentation>
    <wsdl:port name="WebSvcDemoSoap" binding="tns:WebSvcDemoSoap">
      <soap:address location="http://localhost/WebServiceDemo/WebServiceDemo.asmx" />
    </wsdl:port>
    <wsdl:port name="WebSvcDemoSoap12" binding="tns:WebSvcDemoSoap12">
      <soap12:address location="http://localhost/WebServiceDemo/WebServiceDemo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>